<style>
  html, body { background-color: #F2F2F3; }
  #wrapper {
    margin: 0 auto;
    width: 330px;
    top: 100px;
    position: relative;
  }
  #logo {
    margin-top: 20px;
    padding: 40px;
    background-color: #F2F2F3;
  }
  #note {
        font-family: "Futura Bold";
        text-align: center;
        font-size: 1.5em;
    }

@font-face {
        font-family: "Futura Bold";
        src: url(/assets/futura-lt-bold.ttf) format("truetype");
    }
</style>
<div id="wrapper">
  <div id="note">FUTURE SITE OF</div>
  <div id="logo">
    <img src="/assets/3e-logo.png" width="250px" height="180px" />
  </div>
</div>