<style>
  html, body { background-color: black; }
  #wrapper {
    margin: 0 auto;
    width: 100%;
    top: 100px;
    position: relative;
  }
  #logo {
    margin: 20px auto;
    padding: 40px 40px 30px 40px;
    background-color: #F2F2F3;
    border: 1px solid black;
    text-align: center;
  }
  #note {
        font-family: "Futura Bold";
        text-align: center;
        font-size: 1.5em;
        color: #F2F2F3;
    }

@font-face {
        font-family: "Futura Bold";
        src: url(<%= asset_path('futura-lt-bold.ttf') %>) format("truetype");
    }
</style>
<div id="wrapper">
  <div id="note">FUTURE SITE OF</div>
  <div id="logo">
    <img src="<%= asset_path('3e-logo.png') %>" width="250px" height="180px" />
  </div>
</div>